<div class="countsAll">
<div class="counts">
<h1>Number of Categories: <%= p @categoryCount %></h1>

<h1>Number of Products: <%= p @productCount %></h1>

</div>

<a href="/admin/products"><button type="button" class="btn btn-info">Visit Admin Listings</button> </a>

</div>