
<div class="about">
<h1>About us!</h1>
<div class=aboutList>
<h4>
Hey all you cool cats and kittens. Here at Jungle we are proud to employ over 400 Jungle cats. 
</h4>
<img class="aboutImg" src="https://www.waterfallgardens.com/images/jungle_cats/jungle_cats_05_little.jpg">
<p class="description"> Here is Marcel, our president and CEO </p>

<img class="aboutImg" src="https://static.boredpanda.com/blog/wp-content/uploads/2015/11/unusual-wild-cats-36__880.jpg">
<p class="description"> Here is Karen, our HR manager</p>

<img class="aboutImg" src="https://i.pinimg.com/originals/14/78/53/147853a94bff8ffd7d7a5b73dd738d1f.jpg">
<p class="description"> Here is George, our shipper/reciever</p>

</div>
</div>